.chord {
    width: fit-content;
    height: fit-content;
    margin: 12px;
    text-align: center;
    border-radius: 22px;
    color: #FFF;
    font-family: 'Times New Roman', Times, serif;
}

.note-button {
    margin: 5px;
    background-color: #eee;
    color: #333
}

.add-note-button {
    background-color: transparent;
    border: 1px #eee solid;
    margin: 5px;
    color: #eee;
}

.note-container {
    display: flex;
    flex-direction: row;
}