<div class="drop-downs">
    <mat-form-field appearance="fill">
        <mat-label>Scale</mat-label>
        <mat-select (selectionChange)="setScale()" [(value)]="selectedTonic">
            <mat-option *ngFor="let tonic of tonics" [value]="tonic">{{tonic}}</mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>Mode</mat-label>
        <mat-select (selectionChange)="setScale()" [(value)]="selectedMode">
            <mat-option *ngFor="let mode of modes" [value]="mode">{{mode}}</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-mini-fab class="icon-button" (click)="enableAudio()">
        <mat-icon>{{volume_icon}}</mat-icon>
    </button>
</div>
<div>
    <button (click)="selectChord(triad[1])" class="classy-text" mat-raised-button *ngFor="let triad of diatonicTriads"
        mat-raised-button>{{triad[0]}}</button>
</div>
<div class="classy-text">
    Notes: <span *ngFor="let note of diatonic.activeScale.notes">{{note}} </span>
</div>
<div style="display: flex; flex-direction: row;">
    <app-chord *ngFor="let chord of selectedChords" [chord]="chord"></app-chord>
</div>

<button mat-mini-fab class="icon-button" (click)="testChords()">
    <mat-icon>play_arrow</mat-icon>
</button>