/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #eee;
}

.classy-text {
    margin-top: 10px;
    margin-left: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}